@import '@/assets/style/fonts/font_style/fonts.css';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

input {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  position: relative;
}

[class*=__container] {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.input {
  padding: 16px;
  border: 1px solid #D2D2D7;
}
.input--small {
  padding: 8px 16px;
}

.button {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 24px 14px 24px;
  position: relative;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #121212;
  border: 1px solid #FFFFFF;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #424245;
}
.button:disabled {
  background-color: #808080;
  color: #5d5b5b;
  pointer-events: none;
}
.button--secondary {
  color: #121212;
  background-color: transparent;
  border-color: #121212;
}
.button--secondary:hover {
  background-color: #121212;
  color: #FFFFFF;
}
.button--secondary:disabled {
  color: #808080;
  background-color: #D2D2D7;
  border-color: #808080;
}
.button--tertiary {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
}
.button--tertiary:hover {
  border-color: #121212;
  background-color: transparent;
}
.button--tertiary:disabled {
  border-color: #808080;
  color: #808080;
  background-color: transparent;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > .page {
  flex-grow: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 83px;
}
.header__wrapper {
  background-color: #FFFFFF;
  border: 1px solid #121212;
  position: relative;
}
@media (max-width: 991px) {
  .header__wrapper {
    padding: 32px 0;
  }
}
.header__container {
  padding: 0;
}

.nav__link {
  height: 20px;
  overflow: hidden;
}
.nav__link:hover .nav__text--up {
  transform: translateY(-20px);
}
.nav__link:hover .nav__text--down {
  transform: translateY(-20px);
  color: #808080;
}
.nav__text {
  transition: transform 0.2s ease;
  font-weight: 500;
}

.burger {
  padding: 0 24px;
}
.burger__wrapper {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger__item {
  height: 2px;
  width: 100%;
  background-color: #121212;
}

.nav-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: transform 0.4s ease-in-out;
}
.nav-menu__wrapper--right {
  justify-content: end;
}
@media (max-width: 991px) {
  .nav-menu__wrapper {
    flex-direction: column;
    justify-content: start;
    border: 2px solid #121212;
    width: 50vw;
    height: 100vh;
    background-color: #FFFFFF;
    transform: translateX(-100%);
  }
}
@media (max-width: 480px) {
  .nav-menu__wrapper {
    width: 100vw;
  }
}
.nav-menu__wrapper--active {
  transform: translateX(0);
}
.nav-menu__block {
  display: flex;
  align-items: center;
  max-width: 24.65vw;
  width: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .nav-menu__block {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 100%;
    width: 100%;
    position: unset;
  }
}
.nav-menu__block-none {
  display: none !important;
}
@media (max-width: 991px) {
  .nav-menu__block-none {
    display: block !important;
  }
}
.nav-menu__item {
  max-width: 100%;
  width: 100%;
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-menu__item:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #121212;
}
.nav-menu__item--right:before {
  right: 0;
}
.nav-menu__item--left:before {
  left: 0;
}
@media (max-width: 991px) {
  .nav-menu__item {
    padding: 24px;
    border-bottom: 2px solid #121212;
    width: 100%;
  }
  .nav-menu__item:before {
    content: none;
  }
}
.nav-menu__icon {
  position: absolute;
  left: 20px;
  top: calc(50% - 11px);
  display: block;
  font-size: 22px;
}
.nav-menu__language {
  cursor: pointer;
  position: absolute;
  left: -100px;
  top: calc(50% - 15px);
  z-index: 101;
}
@media (max-width: 991px) {
  .nav-menu__language {
    top: 10px;
    left: unset;
    right: 20px;
  }
}
.nav-menu__flag {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-menu__img {
  width: 30px;
  height: 30px;
}
@media (max-width: 991px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 991px) {
  .nav-menu--active {
    visibility: visible;
    opacity: 1;
  }
  .nav-menu--active:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.socials__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 991px) {
  .socials__wrapper--start {
    justify-content: start;
  }
}
.socials__item--border {
  padding: 12px;
  border: 1px solid #121212;
  border-radius: 50%;
}
.socials__icon {
  font-size: 24px;
  display: block;
  transition: transform 0.3s ease;
}
.socials__icon:hover {
  transform: scale(1.2);
}

.icon-instagram:hover {
  color: #833AB4;
}

.icon-pinterest:hover {
  color: #E60023;
}

.icon-facebook:hover {
  color: #1877F2;
}

.icon-twitter:hover {
  color: #1DA1F2;
}

.icon-telegram:hover {
  color: #0088cc;
}

.section__block {
  position: sticky;
  top: 0;
}
@media (max-width: 991px) {
  .section__block {
    position: relative;
  }
}
.section__wrapper {
  padding: 80px;
  border-left: 1px solid #121212;
  height: 100%;
}
.section__wrapper--small {
  padding: 80px 40px;
}
@media (max-width: 1024px) {
  .section__wrapper {
    padding: 65px;
  }
}
@media (max-width: 991px) {
  .section__wrapper {
    border-left: none;
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 768px) {
  .section__wrapper {
    padding: 40px 15px;
  }
}
.section__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: auto;
  height: 100%;
}
.section__content--top {
  padding-top: 83px;
}
@media (max-width: 991px) {
  .section__content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .section__content--row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.section__main {
  text-align: center;
}
.section__main:not(:last-child) {
  margin-bottom: 64px;
}
.section__main--small:not(:last-child) {
  margin-bottom: 30px;
}
.section__footer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.section__text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  position: relative;
  z-index: 3;
}
.section__text--width {
  max-width: 600px;
}
@media (max-width: 768px) {
  .section__text {
    font-size: 16px;
  }
}
.section__title {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  z-index: 3;
}
.section__title--normal {
  font-size: 50px;
}
@media (max-width: 1024px) {
  .section__title--normal {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .section__title--normal {
    font-size: 34px;
  }
}
.section__title--small {
  font-size: 38px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .section__title--small {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .section__title--small {
    font-size: 26px;
  }
}
.section__title--center {
  text-align: center;
}
.section__title--big {
  font-size: 67px;
}
@media (max-width: 480px) {
  .section__title--big {
    font-size: 52px;
  }
}
.section__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  z-index: 3;
}
.section__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.section__subtitle--center {
  text-align: center;
}
.section__img {
  max-width: 100%;
  width: 100%;
  min-height: 80vh;
}
.section__img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
@media (max-width: 991px) {
  .section__img {
    height: 50vh;
  }
}
.section--border:not(:last-child) {
  border-bottom: 1px solid #121212;
}
@media (max-width: 991px) {
  .section--border:not(:last-child) {
    border-bottom: none;
  }
}

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(18, 18, 18, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up__wrapper {
  max-width: 500px;
  width: 100%;
  background-color: rgba(252, 252, 252, 0.8);
  padding: 30px;
  border: 2px solid #121212;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 100vh;
}
.pop-up__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.pop-up__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.pop-up__block--row {
  flex-direction: row;
  gap: 20px;
}
.pop-up__textarea {
  padding: 8px 16px;
}
.pop-up__icon {
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  display: block;
  font-size: 22px;
}

.title-block__header:not(:last-child) {
  margin-bottom: 24px;
}
.title-block--center .section__wrapper {
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title-block--small .section__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2;
}
.title-block__text {
  max-width: 750px;
  width: 100%;
}

.category-card__wrapper {
  border-left: 1px solid #121212;
  position: relative;
}
.category-card__banner {
  padding: 24px;
  border-right: 1px solid #121212;
}
@media (max-width: 991px) {
  .category-card__banner {
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 480px) {
  .category-card__banner {
    padding: 15px;
  }
}
.category-card__block {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-card__title {
  font-size: 38px;
  font-weight: 500;
  text-transform: capitalize;
}
.category-card__button {
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.category-card__button:after {
  content: "\e902";
  font-family: "icomoon";
  display: flex;
  transition: transform 0.3s ease;
}
@media (max-width: 991px) {
  .category-card__link {
    border-bottom: 1px solid #121212;
  }
}
.category-card__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.category-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}
.category-card--even .category-card__banner {
  order: 2;
  border-left: 1px solid #121212;
  border-right: none;
}
.category-card--even .category-card__link {
  order: 1;
}
.category-card--even .category-card__button:after {
  content: "";
}
.category-card--even .category-card__button:before {
  content: "\e900";
  font-family: "icomoon";
  display: flex;
  transition: transform 0.3s ease;
}
.category-card--column .category-card__block {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
  padding: 80px;
}
.category-card:hover .category-card__button:after {
  transform: translateX(15px);
}
.category-card:hover .category-card__button:before {
  transform: translateX(-15px);
}
.category-card:hover .category-card__img img {
  transform: scale(1.2);
}

.quantity:not(:last-child) {
  margin-bottom: 40px;
}
.quantity__wrapper {
  display: flex;
  gap: 16px;
}
.quantity__block {
  display: flex;
  justify-content: start;
  align-items: stretch;
  max-width: max-content;
  border: 1px solid #121212;
}
.quantity__label {
  font-size: 18px;
  font-weight: 500;
}
.quantity__item {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity__item:not(:first-child) {
  border-left: 1px solid #121212;
}
.quantity__button {
  padding: 15px;
  font-size: 20px;
}
.quantity__button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.quantity__input {
  width: 50px;
  outline: none;
  border: none;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-form-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-form-item__header--row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-form-item__main {
  padding-bottom: 24px;
  border-bottom: 1px solid #cecbcb;
}
.cart-form-item__footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-form-item__block {
  padding-bottom: 24px;
  border-bottom: 1px solid #cecbcb;
}
.cart-form-item__block--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-form-item__title {
  font-size: 18px;
  font-weight: 500;
  color: #D2D2D7;
}
.cart-form-item__title--grey {
  color: #424245;
  display: flex;
  gap: 5px;
}
.cart-form-item__title--grey:before {
  content: "\e90a";
  font-family: "icomoon";
}
.cart-form-item__icon {
  cursor: pointer;
}

.form-main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-main__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-main__item--row {
  display: flex;
  gap: 16px;
}

.admin {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 20;
}
.admin__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin__icon {
  display: block;
  font-size: 22px;
  border: 1px solid #121212;
  padding: 4px;
  transition: transform 0.3s ease;
}
.admin__icon:hover {
  transform: scale(1.1);
}
.icon-pencil {
  color: #4285f4;
}

.icon-checkmark {
  color: #34A853;
}

/*# sourceMappingURL=index.css.map */
